* {
    border: solid black 1px;
}

/* TO DO */
#display {

}

.button-rows {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 1000px;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.button {
    height: 50px;
    width: 50px;
}

